.manager-dashboard {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
}

.dashboard-section {
  margin: 0;
}

/* Tablet */
@media (max-width: 900px) {
  .manager-dashboard {
    gap: 16px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .manager-dashboard {
    gap: 14px;
  }
}

